tmux/plugins/*
tmux/plugins
wal/colors
wal/colors.css
wal/colors.hs
wal/colors-kitty.conf
wal/colors-konsole.colorscheme
wal/colors-oomox
wal/colors-putty.reg
wal/colors-rofi-dark.rasi
wal/colors-rofi-light.rasi
wal/colors.scss
wal/colors.sh
wal/colors-speedcrunch.json
wal/colors-sway
wal/colors-tty.sh
wal/colors-wal-dmenu.h
wal/colors-wal-dwm.h
wal/colors-wal-st.h
wal/colors-wal-tabbed.h
wal/colors-wal.vim
wal/colors-waybar.css
wal/colors.Xresources
wal/colors.yml
wal/sequences
